html{
	height: 100%;
}

body{
	height: 100%;
}

#canvas{
	height: 576px;
	width: 448px;
	margin: 0 auto;
	border: 2px solid black;
	background-image: url('images/pacmanBoard.png');
	background-size: 448px 576px;
	background-repeat: no-repeat;
}
